<?xml version="1.0" encoding="utf-8"?>
<config>
  <!-- This file contains the CRP options. -->

  <database>
    <!-- Not much reason to change this, unless you really really really want to run off
	 multiple different databases. -->
    <filename>latest.sqlite</filename>
  </database>
  
  <cache>
    <!-- I'm adding a cache here, I should have done do long ago. -->
    <directory>cache</directory>
    <filename>cache/cache.sqlite</filename>
  </cache>

  <namingpatterns>
    <!-- This segment allows user-defined container naming patterns. These are fed 
	 straight to the standard Python re package, so see code or documentation 
	 for more info. -->

    <!-- This reads as "Any character, any number of times, then "CRP", then any 
	 character, any number of times". In other words, any string with "CRP" in 
	 it. -->
    <pattern>(?:.*)(CRP)(?:.*)</pattern>
 
    <pattern>Sell</pattern>
    <pattern>Refine</pattern>
    <pattern>Unsorted</pattern>

  </namingpatterns>
  
  <market>
    <!-- The market segment allows you to control how prices are estimated. -->

    <!-- This is rather rudimentary. Currently operations "min", "max" and "avg" 
	 (average) are supported. Leaf nodes should be query for obvious reasons -->
    <value>
      <query system='Jita' stat='median'/>
    </value>

    <!-- Number of seconds the market data is cached. 3600 seconds is one hour, 
	 human time-->
    <cachetime>3600</cachetime> 
  </market>
  
  <apikeys>
    <!-- This segment contains EVE API keys. -->
    
    <!-- This key belongs to EvilMarvin - I keep it active for illustrative purposes,
	 though I may not have any suitable cans at the moment. -->      
    <apikey note='EvilMarvin (Public CRP Key)' enabled='true'>
      <keyID>2747696</keyID>
      <vCode>oXQTmFJxbTGnUc1dVfUYarsgH6HU6JczuL5a7OwY2arbdSwNhWRl3uMAqS1xtHqC</vCode>
    </apikey>
    
    
    <!-- This key is no longer valid, but it should serve well enough to illustrate
	 the entry. -->
    <apikey note='PAC-C (Test Key)' enabled='false'>
      <keyID>2755146</keyID>
      <vCode>uTsyGQ4bzivLqyJGt24GRV0znqYiF6kzUkl52eiCFt84ETxgHhq3iFUZczEbFUln</vCode>
    </apikey>
      
  </apikeys>

  <outputs>
    <!-- I've added an output section to make custom output "easier". -->
    <output enabled='true' module='html'> 
      <args outputprefix='' uniquefiles='true'/>
    </output>
  </outputs>
</config>
